.addbtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1 {
    background-color: #56bb59; 
    color: white; 
    border: 1.5px solid #56bb59;
    border-radius: 5px;
  }

  .basetemp-container1 .col-md-6{
    left: 32%;
    margin-top: 3%;
}

.basetemp-container1{
  text-align: left;
}